body {
  font-family: Ubuntu;
}


.bg-image {
    background-image: url("background.jpg");
    height: 50vh;
    background-size:cover;
    background-position: center top;

}

.masthead {
  height: 50vh;
  min-height: 500px;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgiffiles.alphacoders.com%2F208%2F208840.gif&f=1&nofb=1');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  
  
}

#aboutus {
  padding: 50px;
  background-color: #efefef;
}

.catcher {
  font-family: Ubuntu;
  font-weight: 900;
  font-size: 5vw;
  
  color:white;
 
}

.secondarytext {
  color: white;
  margin-bottom: 30px;

}
#borderdiv{
  border-bottom: solid 1px #3d3d3d;
  margin-bottom: 40px;
}

.introicons {
  height: 100px;
  margin-bottom: 20px;
  
}

.thingstodo {
  padding: 40px;

}

.masthead2 {
  height: 30vh;
  min-height: 500px;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia1.tenor.com%2Fimages%2F07586455dea7006cd63e9fafe22d2d6b%2Ftenor.gif%3Fitemid%3D12782000&f=1&nofb=1');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  
  
}

#firstone {
  font-size: 4.5vw;
}


#joinus {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpa1.narvii.com%2F6804%2Fe7191cf3decf4774079de7d0ef8418540f125072_00.gif&f=1&nofb=1');
  background-position: center top;
  height: 30vh;
}
